.noteHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #94a3b8;
}
.noteHeading {
  color: #334155;
}
.noteSort {
  border: 1px solid #64748b;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  font-size: 15px;
}
.sortOption {
  font-size: 15px;
}

@media screen and (max-width: 700px) {
  .noteHeader {
    flex-direction: column;
    gap: 1.5rem;
  }
}
